.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icon-exit {
  width: 45px;
  height: 45px;
  padding: 5px;
}

.actForm {
  padding: 5px;
  text-decoration: none;
  color: #143959;
  font-family: poppins;
  font-weight: bold;
  font-size: 20px;
  /* font-style: italic; */
}

.actForm:hover{
    text-decoration: underline;
}

.icon-search {
  cursor: pointer;
  padding: 5px;
  background-color: #143959;
  color: #eeeeee;
  border: #eeeeee solid;
  border-radius: 5px;
}

.submit {
  width: 20px;
  height: 20px;
}
.search {
  width: auto;
  height: auto;
}

.search-input{
    padding: 9px;
    width: 300px;
    height: 5px;
    border: #eeeeee solid;
    border-radius: 10px;
}

.icon-search:hover {
  background-color: #eeeeee;
  color: #143959;
  border: #143959 solid;
  border-radius: 5px;
}
